@inherits LayoutComponentBase
@inject NavigationManager navManager;
@inject HttpClient Http
@using BotcatmaxySite.Shared.Discord
@using BotcatmaxySite.Client
@using System.Web;

<div class="layout">
    <div class="guilds">
        @if (guilds != null && guilds.Length > 0)
        {
            @foreach (BaseGuildInfo guild in guilds)
            {
                <GuildIcon guild="@guild" token="@token" />
            }
        }
    </div>

    <main class="main">
        @Body
    </main>
</div>

@code {
    private BaseGuildInfo[] guilds;
    private string token;

    protected override async Task OnInitializedAsync()
    {
        var URI = new Uri(navManager.Uri);
        token = HttpUtility.ParseQueryString(URI.Query)["token"];
        var user = await Http.GetFromJsonAsync<BaseUserInfo>($"UserInfo/{token}");
        guilds = await Http.GetFromJsonAsync<BaseGuildInfo[]>($"UserInfo/guilds/{user.idNum}");
    }
}