@using BotcatmaxySite.Shared.Discord

<div class="listItem">
    <a tabindex="-1" class="guildIcon" href="@((href ?? ""))">
        @if (guild.iconUrl != null)
        {
            <img src="@guild.iconUrl" />
        }
        else
        {
            <p>
                @guild.name[0]
            </p>
        }
    </a>
</div>

@code {
    [Parameter]
    public BasicGuildInfo guild { get; set; }
    [Parameter]
    public string href { get; set; }
}
