@using BotcatmaxySite.Shared.Discord
@inject NavigationManager navManager

<div class="listItem">
    @*Can't seem to define URL here because won't let me add navManager.BaseUri to the end, so defined below*@
    <a tabindex="-1" class="guildIcon" href="@URL">
        @if (guild.iconUrl != null)
        {
            <img src="@guild.iconUrl" />
        }
        else
        {
            <p>
                @guild.name[0]
            </p>
        }
    </a>
</div>

@code {
    [Parameter]
    public BaseGuildInfo guild { get; set; }
    [Parameter]
    public string token { get; set; }
    private string URL;

    protected override async Task OnInitializedAsync()
    {
        URL = $"{navManager.BaseUri}guild/{guild.id}/users?token={token}";
    }
}
