@inject NavigationManager navManager;
@inject HttpClient Http
@using BotcatmaxySite.Shared.Discord
@using System.Web;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Botcatmaxy Site</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        @if (guilds != null && guilds.Length > 0)
        {
            @foreach (BasicGuildInfo guild in guilds)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @guild.name
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private BasicGuildInfo[] guilds;

    protected override async Task OnInitializedAsync()
    {
        var URI = new Uri(navManager.Uri);
        string token = HttpUtility.ParseQueryString(URI.Query)["token"];
        var user = await Http.GetFromJsonAsync<BaseUserInfo>($"UserInfo/{token}");
        guilds = await Http.GetFromJsonAsync<BasicGuildInfo[]>($"UserInfo/guilds/{user.idNum}");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
