@page "/dashboard/{guildID}/users"
@layout GuildContentLayout
@inject HttpClient Http
@using BotcatmaxySite.Shared.Discord

<div class="topBar">
    @topText
</div>

<div class="content">
    <p>
        @((MarkupString)contentText)
    </p>
</div>

@code {
    [Parameter]
    public string guildID { get; set; }
    private BaseGuildInfo guild;
    private string topText = "BotCatMaxy";
    private BaseUserInfo[] users;
    private string contentText;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var usersRequest = Http.GetFromJsonAsync<BaseUserInfo[]>($"GuildUsers/{guildID}/page/0");
        guild = await Http.GetFromJsonAsync<BaseGuildInfo>($"guild/{guildID}");
        topText = $"BotCatMaxy → {guild.name}";
        users = await usersRequest;
        contentText = "";
        foreach (BaseUserInfo user in users.Take(20))
        {
            contentText += user.username + "<br />";
        }
    }
}
