@page "/loggedin"
@layout GuildContentLayout

<div class="topBar">
    Botcatmaxy
</div>

<div class="content">
    <h2>Hello. 👋</h2>
    <p>Select a server from the left to get started.</p>

    <div class="suggestions">
        <Card interactable>
            <h5>
                Read the documentation
            </h5>
            <p style="opacity:0.7">
                Know the bot's features and how to use them
            </p>
        </Card>
        <Card interactable>
            <h5>
                Join Blackcatmaxy's Corner
            </h5>
            <p style="opacity:0.7">
                Get support for the bot
            </p>
        </Card>
        <Card interactable>
            <h5>
                Donate
            </h5>
            <p style="opacity:0.7">
                Donations help keep the bot online :^)
            </p>
        </Card>
    </div>
</div>

@code {
}