@page "/dashboard"
@layout GuildContentLayout

<div class="topBar">
    Botcatmaxy
</div>

<div class="content">
    <div class="placeholder">
        <h2>Hello. 👋</h2>
        <p>Select a server from the left to get started, or...</p>

        <a @onclick="onInvite" class="reset button brand" href="https://discordapp.com/api/oauth2/authorize?client_id=488796531512573953&permissions=201354374&scope=bot" target="_blank">
            Invite To New Server
        </a>

        @if (showInviteHelp)
        {
            <p style="opacity: 0.7;margin-top:10px">
                <b>Note</b>: Refresh this page to see your server on the list
            </p>
        }

        <h6 style="margin-top: 1rem">
            SUGGESTIONS
        </h6>
        <div class="suggestions">
            <a class="reset" href="https://github.com/Blackcatmaxy/Botcatmaxy/wiki" target="_blank">
                <Card interactable>
                    <p>
                        Read the documentation
                    </p>
                    <p style="opacity:0.7;margin:0">
                        Know the bot's features and how to use them
                    </p>
                </Card>
            </a>
            <a class="reset" href="https://discord.gg/3U4ShgB" target="_blank">
                <Card interactable>
                    <p>
                        Join Blackcatmaxy's Corner
                    </p>
                    <p style="opacity:0.7;margin:0">
                        Get support for the bot
                    </p>
                </Card>
            </a>
            <a class="reset" href="https://github.com/Blackcatmaxy/Botcatmaxy/issues" target="_blank">
                <Card interactable>
                    <p>
                        Report Bugs & Give Feedback
                    </p>
                    <p style="opacity:0.7;margin:0">
                        Submit a GitHub issue like a bug report or a suggestion
                    </p>
                </Card>
            </a>
            <a class="reset" href="https://donate.blackcatmaxy.com/" target="_blank">
                <Card interactable>
                    <p>
                        Donate
                    </p>
                    <p style="opacity:0.7;margin:0">
                        Donations help keep the bot online :^)
                    </p>
                </Card>
            </a>
            <p>
                Love open source? Check out the bot on <a class="link" href="https://github.com/Blackcatmaxy/Botcatmaxy" target="_blank">Github</a>.
            </p>
        </div>
    </div>
</div>

@code {
    bool showInviteHelp = false;

    void onInvite()
    {
        showInviteHelp = true;
    }
}